# Maven or Gradle build directories
/services/*/target/
/aggregators/*/target/
/build/
/.gradle/
.gradle/


/utils/

# IDE files and directories
.idea/
*.iml
*.ipr
*.iws
/.vscode/

# Logs and runtime files
/logs/
*.log

# Compiled Java classes
*.class

# Application properties with sensitive data (modify as needed)
/services/*/src/main/resources/application.properties
/services/*/src/main/resources/application-k8s.properties
/aggregators/*/src/main/resources/application.properties
/aggregators/*/src/main/resources/application-k8s.properties

# Spring Boot's generated executable JAR/WAR files
/services/*/target/*.jar
/services/*/target/*.war
/aggregators/*/target/*.jar
/aggregators/*/target/*.war

# Spring Boot's generated `static` and `templates` directories
/services/*/target/classes/static/
/services/*/target/classes/templates/
/aggregators/*/target/classes/static/
/aggregators/*/target/classes/templates/

# OS and IDE-specific files
.DS_Store
Thumbs.db
*.swp

# Miscellaneous
*.bak
*.tmp